body, html {
    margin: 0;
    padding: 0;
}
.carousel {
    height: 100vh;
    width: 100vw;
}

.carousel ul {
    display: inline-block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.carousel a {
    position: absolute;
    background-image: url('schilde.png');
    background-size: 904% 595%;
    display: inline-block;
    font-size: 0;
    height: 115px;
    /*transition-property: margin, width, height;
    transition-duration: 0.05s;
    transition-timing-function: linear;*/
    width: 84px;
}

.carousel .description.show {
    display: inline-block;
}

.carousel .description {
    display: none;
    color: #ebd9ad;
    font-family: times, serif;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-shadow: 2px 1px 2px black;
    width: 100%;
    z-index: 1000;
}

.coat-of-arm-gothic {
    background-position: -699.5% 0;
}

.coat-of-arm-dungeonlords {
    background-position: -399.5% -400%;
}

.coat-of-arm-tes {
    background-position: 0 -500.5%;
}

.coat-of-arm-neverwinter {
    background-position: -799.5% 0;
}

.coat-of-arm-grotesque {
    background-position: -700% -100%;
}

.coat-of-arm-witcher {
    background-position: -599.45% 0;
}

.coat-of-arm-thief {
    background-position: -100% -500.5%;
}

.coat-of-arm-drakensang {
    background-position: -299.5% -400%;
}

.coat-of-arm-demonicon {
    background-position: -599.4% -300%;
}

.coat-of-arm-sacred {
    background-position: -799.5% -200%;
}

.coat-of-arm-dragonage {
    background-position: -100% 0;
}

.coat-of-arm-assassinscreed {
    background-position: -200% 0;
}

.coat-of-arm-risen {
    background-position: -799.5% -100%;
}

.coat-of-arm-masseffect {
    background-position: -699.5% -400%;
}

.coat-of-arm-diablo {
    background-position: 0 -400.5%;
}

.coat-of-arm-herrderringe {
    background-position: -699.4% -200%;
}

.coat-of-arm-cyberpunk {
    background-position: -599.4% -200%;
}

.coat-of-arm-fallout {
    background-position: -299% -500.5%;
}

.coat-of-arm-elex {
    background-position: -499% -400.5%;
}
