body, html {
  margin: 0;
  padding: 0; }

.carousel {
  height: 100vh;
  width: 100vw; }

.carousel ul {
  display: inline-block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

.carousel li {
  position: absolute;
  display: inline-block;
  font-size: 0; }

.carousel a {
  display: inline-block;
  transform: scale(1);
  transform-origin: 0 0; }

.carousel .description.show {
  display: inline-block; }

.carousel .description {
  display: none;
  color: #ebd9ad;
  font-family: times, serif;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  text-shadow: 2px 1px 2px black;
  width: 100%;
  z-index: 1000; }

.coat-of-arm-_assassinscreed, .coat-of-arm-assassinscreed.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -158px -105px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_cyberpunk, .coat-of-arm-cyberpunk.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -480px -105px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_demonicon, .coat-of-arm-demonicon.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -158px -420px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_diablo, .coat-of-arm-diablo.do-hover:hover {
  background-image: url(schilde.png);
  background-position: 0px -105px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_divinity, .coat-of-arm-divinity.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -79px -105px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_dragonage, .coat-of-arm-dragonage.do-hover:hover {
  background-image: url(schilde.png);
  background-position: 0px 0px;
  width: 77px;
  height: 100px; }

.coat-of-arm-_drakensang, .coat-of-arm-drakensang.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -243px 0px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_dungeonlords, .coat-of-arm-dungeonlords.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -243px -105px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_elex, .coat-of-arm-elex.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -638px -170px;
  width: 80px;
  height: 80px; }

.coat-of-arm-_fallout, .coat-of-arm-fallout.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -638px -85px;
  width: 80px;
  height: 80px; }

.coat-of-arm-_gothic, .coat-of-arm-gothic.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -158px -210px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_grotesque, .coat-of-arm-grotesque.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -237px -210px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_herrderringe, .coat-of-arm-herrderringe.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -322px 0px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_kingdomhearts, .coat-of-arm-kingdomhearts.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -322px -105px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_masseffect, .coat-of-arm-masseffect.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -322px -210px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_neverwinter, .coat-of-arm-neverwinter.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -401px 0px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_risen, .coat-of-arm-risen.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -401px -105px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_sacred, .coat-of-arm-sacred.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -401px -210px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_starcraft, .coat-of-arm-starcraft.do-hover:hover {
  background-image: url(schilde.png);
  background-position: 0px -315px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_starwars, .coat-of-arm-starwars.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -79px -315px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_tes, .coat-of-arm-tes.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -158px -315px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_thief, .coat-of-arm-thief.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -237px -315px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_torment, .coat-of-arm-torment.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -316px -315px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_unbended, .coat-of-arm-unbended.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -395px -315px;
  width: 74px;
  height: 100px; }

.coat-of-arm-_witcher, .coat-of-arm-witcher.do-hover:hover {
  background-image: url(schilde.png);
  background-position: -480px 0px;
  width: 74px;
  height: 100px; }

.coat-of-arm-assassinscreed {
  background-image: url(schilde.png);
  background-position: -164px 0px;
  width: 74px;
  height: 100px; }

.coat-of-arm-cyberpunk {
  background-image: url(schilde.png);
  background-position: -480px -210px;
  width: 74px;
  height: 100px; }

.coat-of-arm-demonicon {
  background-image: url(schilde.png);
  background-position: -480px -315px;
  width: 74px;
  height: 100px; }

.coat-of-arm-diablo {
  background-image: url(schilde.png);
  background-position: 0px -420px;
  width: 74px;
  height: 100px; }

.coat-of-arm-divinity {
  background-image: url(schilde.png);
  background-position: -79px -420px;
  width: 74px;
  height: 100px; }

.coat-of-arm-dragonage {
  background-image: url(schilde.png);
  background-position: -82px 0px;
  width: 77px;
  height: 100px; }

.coat-of-arm-drakensang {
  background-image: url(schilde.png);
  background-position: -237px -420px;
  width: 74px;
  height: 100px; }

.coat-of-arm-dungeonlords {
  background-image: url(schilde.png);
  background-position: -316px -420px;
  width: 74px;
  height: 100px; }

.coat-of-arm-elex {
  background-image: url(schilde.png);
  background-position: -395px -420px;
  width: 74px;
  height: 100px; }

.coat-of-arm-fallout {
  background-image: url(schilde.png);
  background-position: -638px 0px;
  width: 80px;
  height: 80px; }

.coat-of-arm-gothic {
  background-image: url(schilde.png);
  background-position: -559px 0px;
  width: 74px;
  height: 100px; }

.coat-of-arm-grotesque {
  background-image: url(schilde.png);
  background-position: -559px -105px;
  width: 74px;
  height: 100px; }

.coat-of-arm-herrderringe {
  background-image: url(schilde.png);
  background-position: -559px -210px;
  width: 74px;
  height: 100px; }

.coat-of-arm-kingdomhearts {
  background-image: url(schilde.png);
  background-position: -559px -315px;
  width: 74px;
  height: 100px; }

.coat-of-arm-masseffect {
  background-image: url(schilde.png);
  background-position: -559px -420px;
  width: 74px;
  height: 100px; }

.coat-of-arm-neverwinter {
  background-image: url(schilde.png);
  background-position: 0px -525px;
  width: 74px;
  height: 100px; }

.coat-of-arm-risen {
  background-image: url(schilde.png);
  background-position: -79px -525px;
  width: 74px;
  height: 100px; }

.coat-of-arm-sacred {
  background-image: url(schilde.png);
  background-position: -158px -525px;
  width: 74px;
  height: 100px; }

.coat-of-arm-starcraft {
  background-image: url(schilde.png);
  background-position: -237px -525px;
  width: 74px;
  height: 100px; }

.coat-of-arm-starwars {
  background-image: url(schilde.png);
  background-position: -316px -525px;
  width: 74px;
  height: 100px; }

.coat-of-arm-tes {
  background-image: url(schilde.png);
  background-position: -395px -525px;
  width: 74px;
  height: 100px; }

.coat-of-arm-thief {
  background-image: url(schilde.png);
  background-position: -474px -525px;
  width: 74px;
  height: 100px; }

.coat-of-arm-torment {
  background-image: url(schilde.png);
  background-position: -474px -420px;
  width: 74px;
  height: 100px; }

.coat-of-arm-unbended {
  background-image: url(schilde.png);
  background-position: -79px -210px;
  width: 74px;
  height: 100px; }

.coat-of-arm-witcher {
  background-image: url(schilde.png);
  background-position: 0px -210px;
  width: 74px;
  height: 100px; }

.coat-of-arm-wop {
  background-image: url(schilde.png);
  background-position: -553px -525px;
  width: 80px;
  height: 92px; }
