  $coa-_assassinscreed-x: 148px;
  $coa-_assassinscreed-y: 100px;
  $coa-_assassinscreed-offset-x: -148px;
  $coa-_assassinscreed-offset-y: -100px;
  $coa-_assassinscreed-width: 74px;
  $coa-_assassinscreed-height: 100px;
  $coa-_assassinscreed-total-width: 672px;
  $coa-_assassinscreed-total-height: 592px;
  $coa-_assassinscreed-image: 'img/schilde.png';
  $coa-_assassinscreed: 148px 100px -148px -100px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_cyberpunk-x: 296px;
  $coa-_cyberpunk-y: 300px;
  $coa-_cyberpunk-offset-x: -296px;
  $coa-_cyberpunk-offset-y: -300px;
  $coa-_cyberpunk-width: 74px;
  $coa-_cyberpunk-height: 100px;
  $coa-_cyberpunk-total-width: 672px;
  $coa-_cyberpunk-total-height: 592px;
  $coa-_cyberpunk-image: 'img/schilde.png';
  $coa-_cyberpunk: 296px 300px -296px -300px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_demonicon-x: 450px;
  $coa-_demonicon-y: 300px;
  $coa-_demonicon-offset-x: -450px;
  $coa-_demonicon-offset-y: -300px;
  $coa-_demonicon-width: 74px;
  $coa-_demonicon-height: 100px;
  $coa-_demonicon-total-width: 672px;
  $coa-_demonicon-total-height: 592px;
  $coa-_demonicon-image: 'img/schilde.png';
  $coa-_demonicon: 450px 300px -450px -300px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_diablo-x: 0px;
  $coa-_diablo-y: 100px;
  $coa-_diablo-offset-x: 0px;
  $coa-_diablo-offset-y: -100px;
  $coa-_diablo-width: 74px;
  $coa-_diablo-height: 100px;
  $coa-_diablo-total-width: 672px;
  $coa-_diablo-total-height: 592px;
  $coa-_diablo-image: 'img/schilde.png';
  $coa-_diablo: 0px 100px 0px -100px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_divinity-x: 74px;
  $coa-_divinity-y: 100px;
  $coa-_divinity-offset-x: -74px;
  $coa-_divinity-offset-y: -100px;
  $coa-_divinity-width: 74px;
  $coa-_divinity-height: 100px;
  $coa-_divinity-total-width: 672px;
  $coa-_divinity-total-height: 592px;
  $coa-_divinity-image: 'img/schilde.png';
  $coa-_divinity: 74px 100px -74px -100px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_dragonage-x: 0px;
  $coa-_dragonage-y: 0px;
  $coa-_dragonage-offset-x: 0px;
  $coa-_dragonage-offset-y: 0px;
  $coa-_dragonage-width: 77px;
  $coa-_dragonage-height: 100px;
  $coa-_dragonage-total-width: 672px;
  $coa-_dragonage-total-height: 592px;
  $coa-_dragonage-image: 'img/schilde.png';
  $coa-_dragonage: 0px 0px 0px 0px 77px 100px 672px 592px 'img/schilde.png';
  $coa-_drakensang-x: 228px;
  $coa-_drakensang-y: 0px;
  $coa-_drakensang-offset-x: -228px;
  $coa-_drakensang-offset-y: 0px;
  $coa-_drakensang-width: 74px;
  $coa-_drakensang-height: 100px;
  $coa-_drakensang-total-width: 672px;
  $coa-_drakensang-total-height: 592px;
  $coa-_drakensang-image: 'img/schilde.png';
  $coa-_drakensang: 228px 0px -228px 0px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_dungeonlords-x: 228px;
  $coa-_dungeonlords-y: 100px;
  $coa-_dungeonlords-offset-x: -228px;
  $coa-_dungeonlords-offset-y: -100px;
  $coa-_dungeonlords-width: 74px;
  $coa-_dungeonlords-height: 100px;
  $coa-_dungeonlords-total-width: 672px;
  $coa-_dungeonlords-total-height: 592px;
  $coa-_dungeonlords-image: 'img/schilde.png';
  $coa-_dungeonlords: 228px 100px -228px -100px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_gothic-x: 0px;
  $coa-_gothic-y: 200px;
  $coa-_gothic-offset-x: 0px;
  $coa-_gothic-offset-y: -200px;
  $coa-_gothic-width: 74px;
  $coa-_gothic-height: 100px;
  $coa-_gothic-total-width: 672px;
  $coa-_gothic-total-height: 592px;
  $coa-_gothic-image: 'img/schilde.png';
  $coa-_gothic: 0px 200px 0px -200px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_grotesque-x: 74px;
  $coa-_grotesque-y: 200px;
  $coa-_grotesque-offset-x: -74px;
  $coa-_grotesque-offset-y: -200px;
  $coa-_grotesque-width: 74px;
  $coa-_grotesque-height: 100px;
  $coa-_grotesque-total-width: 672px;
  $coa-_grotesque-total-height: 592px;
  $coa-_grotesque-image: 'img/schilde.png';
  $coa-_grotesque: 74px 200px -74px -200px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_herrderringe-x: 148px;
  $coa-_herrderringe-y: 200px;
  $coa-_herrderringe-offset-x: -148px;
  $coa-_herrderringe-offset-y: -200px;
  $coa-_herrderringe-width: 74px;
  $coa-_herrderringe-height: 100px;
  $coa-_herrderringe-total-width: 672px;
  $coa-_herrderringe-total-height: 592px;
  $coa-_herrderringe-image: 'img/schilde.png';
  $coa-_herrderringe: 148px 200px -148px -200px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_kingdomhearts-x: 222px;
  $coa-_kingdomhearts-y: 200px;
  $coa-_kingdomhearts-offset-x: -222px;
  $coa-_kingdomhearts-offset-y: -200px;
  $coa-_kingdomhearts-width: 74px;
  $coa-_kingdomhearts-height: 100px;
  $coa-_kingdomhearts-total-width: 672px;
  $coa-_kingdomhearts-total-height: 592px;
  $coa-_kingdomhearts-image: 'img/schilde.png';
  $coa-_kingdomhearts: 222px 200px -222px -200px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_masseffect-x: 302px;
  $coa-_masseffect-y: 0px;
  $coa-_masseffect-offset-x: -302px;
  $coa-_masseffect-offset-y: 0px;
  $coa-_masseffect-width: 74px;
  $coa-_masseffect-height: 100px;
  $coa-_masseffect-total-width: 672px;
  $coa-_masseffect-total-height: 592px;
  $coa-_masseffect-image: 'img/schilde.png';
  $coa-_masseffect: 302px 0px -302px 0px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_neverwinter-x: 302px;
  $coa-_neverwinter-y: 100px;
  $coa-_neverwinter-offset-x: -302px;
  $coa-_neverwinter-offset-y: -100px;
  $coa-_neverwinter-width: 74px;
  $coa-_neverwinter-height: 100px;
  $coa-_neverwinter-total-width: 672px;
  $coa-_neverwinter-total-height: 592px;
  $coa-_neverwinter-image: 'img/schilde.png';
  $coa-_neverwinter: 302px 100px -302px -100px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_risen-x: 302px;
  $coa-_risen-y: 200px;
  $coa-_risen-offset-x: -302px;
  $coa-_risen-offset-y: -200px;
  $coa-_risen-width: 74px;
  $coa-_risen-height: 100px;
  $coa-_risen-total-width: 672px;
  $coa-_risen-total-height: 592px;
  $coa-_risen-image: 'img/schilde.png';
  $coa-_risen: 302px 200px -302px -200px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_sacred-x: 376px;
  $coa-_sacred-y: 0px;
  $coa-_sacred-offset-x: -376px;
  $coa-_sacred-offset-y: 0px;
  $coa-_sacred-width: 74px;
  $coa-_sacred-height: 100px;
  $coa-_sacred-total-width: 672px;
  $coa-_sacred-total-height: 592px;
  $coa-_sacred-image: 'img/schilde.png';
  $coa-_sacred: 376px 0px -376px 0px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_starcraft-x: 376px;
  $coa-_starcraft-y: 100px;
  $coa-_starcraft-offset-x: -376px;
  $coa-_starcraft-offset-y: -100px;
  $coa-_starcraft-width: 74px;
  $coa-_starcraft-height: 100px;
  $coa-_starcraft-total-width: 672px;
  $coa-_starcraft-total-height: 592px;
  $coa-_starcraft-image: 'img/schilde.png';
  $coa-_starcraft: 376px 100px -376px -100px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_starwars-x: 376px;
  $coa-_starwars-y: 200px;
  $coa-_starwars-offset-x: -376px;
  $coa-_starwars-offset-y: -200px;
  $coa-_starwars-width: 74px;
  $coa-_starwars-height: 100px;
  $coa-_starwars-total-width: 672px;
  $coa-_starwars-total-height: 592px;
  $coa-_starwars-image: 'img/schilde.png';
  $coa-_starwars: 376px 200px -376px -200px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_tes-x: 0px;
  $coa-_tes-y: 300px;
  $coa-_tes-offset-x: 0px;
  $coa-_tes-offset-y: -300px;
  $coa-_tes-width: 74px;
  $coa-_tes-height: 100px;
  $coa-_tes-total-width: 672px;
  $coa-_tes-total-height: 592px;
  $coa-_tes-image: 'img/schilde.png';
  $coa-_tes: 0px 300px 0px -300px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_thief-x: 74px;
  $coa-_thief-y: 300px;
  $coa-_thief-offset-x: -74px;
  $coa-_thief-offset-y: -300px;
  $coa-_thief-width: 74px;
  $coa-_thief-height: 100px;
  $coa-_thief-total-width: 672px;
  $coa-_thief-total-height: 592px;
  $coa-_thief-image: 'img/schilde.png';
  $coa-_thief: 74px 300px -74px -300px 74px 100px 672px 592px 'img/schilde.png';
  $coa-_unbended-x: 160px;
  $coa-_unbended-y: 500px;
  $coa-_unbended-offset-x: -160px;
  $coa-_unbended-offset-y: -500px;
  $coa-_unbended-width: 80px;
  $coa-_unbended-height: 72px;
  $coa-_unbended-total-width: 672px;
  $coa-_unbended-total-height: 592px;
  $coa-_unbended-image: 'img/schilde.png';
  $coa-_unbended: 160px 500px -160px -500px 80px 72px 672px 592px 'img/schilde.png';
  $coa-_witcher-x: 222px;
  $coa-_witcher-y: 300px;
  $coa-_witcher-offset-x: -222px;
  $coa-_witcher-offset-y: -300px;
  $coa-_witcher-width: 74px;
  $coa-_witcher-height: 100px;
  $coa-_witcher-total-width: 672px;
  $coa-_witcher-total-height: 592px;
  $coa-_witcher-image: 'img/schilde.png';
  $coa-_witcher: 222px 300px -222px -300px 74px 100px 672px 592px 'img/schilde.png';
  $coa-assassinscreed-x: 154px;
  $coa-assassinscreed-y: 0px;
  $coa-assassinscreed-offset-x: -154px;
  $coa-assassinscreed-offset-y: 0px;
  $coa-assassinscreed-width: 74px;
  $coa-assassinscreed-height: 100px;
  $coa-assassinscreed-total-width: 672px;
  $coa-assassinscreed-total-height: 592px;
  $coa-assassinscreed-image: 'img/schilde.png';
  $coa-assassinscreed: 154px 0px -154px 0px 74px 100px 672px 592px 'img/schilde.png';
  $coa-cyberpunk-x: 370px;
  $coa-cyberpunk-y: 300px;
  $coa-cyberpunk-offset-x: -370px;
  $coa-cyberpunk-offset-y: -300px;
  $coa-cyberpunk-width: 74px;
  $coa-cyberpunk-height: 100px;
  $coa-cyberpunk-total-width: 672px;
  $coa-cyberpunk-total-height: 592px;
  $coa-cyberpunk-image: 'img/schilde.png';
  $coa-cyberpunk: 370px 300px -370px -300px 74px 100px 672px 592px 'img/schilde.png';
  $coa-demonicon-x: 450px;
  $coa-demonicon-y: 0px;
  $coa-demonicon-offset-x: -450px;
  $coa-demonicon-offset-y: 0px;
  $coa-demonicon-width: 74px;
  $coa-demonicon-height: 100px;
  $coa-demonicon-total-width: 672px;
  $coa-demonicon-total-height: 592px;
  $coa-demonicon-image: 'img/schilde.png';
  $coa-demonicon: 450px 0px -450px 0px 74px 100px 672px 592px 'img/schilde.png';
  $coa-diablo-x: 450px;
  $coa-diablo-y: 100px;
  $coa-diablo-offset-x: -450px;
  $coa-diablo-offset-y: -100px;
  $coa-diablo-width: 74px;
  $coa-diablo-height: 100px;
  $coa-diablo-total-width: 672px;
  $coa-diablo-total-height: 592px;
  $coa-diablo-image: 'img/schilde.png';
  $coa-diablo: 450px 100px -450px -100px 74px 100px 672px 592px 'img/schilde.png';
  $coa-divinity-x: 450px;
  $coa-divinity-y: 200px;
  $coa-divinity-offset-x: -450px;
  $coa-divinity-offset-y: -200px;
  $coa-divinity-width: 74px;
  $coa-divinity-height: 100px;
  $coa-divinity-total-width: 672px;
  $coa-divinity-total-height: 592px;
  $coa-divinity-image: 'img/schilde.png';
  $coa-divinity: 450px 200px -450px -200px 74px 100px 672px 592px 'img/schilde.png';
  $coa-dragonage-x: 77px;
  $coa-dragonage-y: 0px;
  $coa-dragonage-offset-x: -77px;
  $coa-dragonage-offset-y: 0px;
  $coa-dragonage-width: 77px;
  $coa-dragonage-height: 100px;
  $coa-dragonage-total-width: 672px;
  $coa-dragonage-total-height: 592px;
  $coa-dragonage-image: 'img/schilde.png';
  $coa-dragonage: 77px 0px -77px 0px 77px 100px 672px 592px 'img/schilde.png';
  $coa-drakensang-x: 0px;
  $coa-drakensang-y: 400px;
  $coa-drakensang-offset-x: 0px;
  $coa-drakensang-offset-y: -400px;
  $coa-drakensang-width: 74px;
  $coa-drakensang-height: 100px;
  $coa-drakensang-total-width: 672px;
  $coa-drakensang-total-height: 592px;
  $coa-drakensang-image: 'img/schilde.png';
  $coa-drakensang: 0px 400px 0px -400px 74px 100px 672px 592px 'img/schilde.png';
  $coa-dungeonlords-x: 74px;
  $coa-dungeonlords-y: 400px;
  $coa-dungeonlords-offset-x: -74px;
  $coa-dungeonlords-offset-y: -400px;
  $coa-dungeonlords-width: 74px;
  $coa-dungeonlords-height: 100px;
  $coa-dungeonlords-total-width: 672px;
  $coa-dungeonlords-total-height: 592px;
  $coa-dungeonlords-image: 'img/schilde.png';
  $coa-dungeonlords: 74px 400px -74px -400px 74px 100px 672px 592px 'img/schilde.png';
  $coa-gothic-x: 148px;
  $coa-gothic-y: 400px;
  $coa-gothic-offset-x: -148px;
  $coa-gothic-offset-y: -400px;
  $coa-gothic-width: 74px;
  $coa-gothic-height: 100px;
  $coa-gothic-total-width: 672px;
  $coa-gothic-total-height: 592px;
  $coa-gothic-image: 'img/schilde.png';
  $coa-gothic: 148px 400px -148px -400px 74px 100px 672px 592px 'img/schilde.png';
  $coa-grotesque-x: 222px;
  $coa-grotesque-y: 400px;
  $coa-grotesque-offset-x: -222px;
  $coa-grotesque-offset-y: -400px;
  $coa-grotesque-width: 74px;
  $coa-grotesque-height: 100px;
  $coa-grotesque-total-width: 672px;
  $coa-grotesque-total-height: 592px;
  $coa-grotesque-image: 'img/schilde.png';
  $coa-grotesque: 222px 400px -222px -400px 74px 100px 672px 592px 'img/schilde.png';
  $coa-herrderringe-x: 296px;
  $coa-herrderringe-y: 400px;
  $coa-herrderringe-offset-x: -296px;
  $coa-herrderringe-offset-y: -400px;
  $coa-herrderringe-width: 74px;
  $coa-herrderringe-height: 100px;
  $coa-herrderringe-total-width: 672px;
  $coa-herrderringe-total-height: 592px;
  $coa-herrderringe-image: 'img/schilde.png';
  $coa-herrderringe: 296px 400px -296px -400px 74px 100px 672px 592px 'img/schilde.png';
  $coa-kingdomhearts-x: 370px;
  $coa-kingdomhearts-y: 400px;
  $coa-kingdomhearts-offset-x: -370px;
  $coa-kingdomhearts-offset-y: -400px;
  $coa-kingdomhearts-width: 74px;
  $coa-kingdomhearts-height: 100px;
  $coa-kingdomhearts-total-width: 672px;
  $coa-kingdomhearts-total-height: 592px;
  $coa-kingdomhearts-image: 'img/schilde.png';
  $coa-kingdomhearts: 370px 400px -370px -400px 74px 100px 672px 592px 'img/schilde.png';
  $coa-masseffect-x: 444px;
  $coa-masseffect-y: 400px;
  $coa-masseffect-offset-x: -444px;
  $coa-masseffect-offset-y: -400px;
  $coa-masseffect-width: 74px;
  $coa-masseffect-height: 100px;
  $coa-masseffect-total-width: 672px;
  $coa-masseffect-total-height: 592px;
  $coa-masseffect-image: 'img/schilde.png';
  $coa-masseffect: 444px 400px -444px -400px 74px 100px 672px 592px 'img/schilde.png';
  $coa-neverwinter-x: 524px;
  $coa-neverwinter-y: 0px;
  $coa-neverwinter-offset-x: -524px;
  $coa-neverwinter-offset-y: 0px;
  $coa-neverwinter-width: 74px;
  $coa-neverwinter-height: 100px;
  $coa-neverwinter-total-width: 672px;
  $coa-neverwinter-total-height: 592px;
  $coa-neverwinter-image: 'img/schilde.png';
  $coa-neverwinter: 524px 0px -524px 0px 74px 100px 672px 592px 'img/schilde.png';
  $coa-risen-x: 524px;
  $coa-risen-y: 100px;
  $coa-risen-offset-x: -524px;
  $coa-risen-offset-y: -100px;
  $coa-risen-width: 74px;
  $coa-risen-height: 100px;
  $coa-risen-total-width: 672px;
  $coa-risen-total-height: 592px;
  $coa-risen-image: 'img/schilde.png';
  $coa-risen: 524px 100px -524px -100px 74px 100px 672px 592px 'img/schilde.png';
  $coa-sacred-x: 524px;
  $coa-sacred-y: 200px;
  $coa-sacred-offset-x: -524px;
  $coa-sacred-offset-y: -200px;
  $coa-sacred-width: 74px;
  $coa-sacred-height: 100px;
  $coa-sacred-total-width: 672px;
  $coa-sacred-total-height: 592px;
  $coa-sacred-image: 'img/schilde.png';
  $coa-sacred: 524px 200px -524px -200px 74px 100px 672px 592px 'img/schilde.png';
  $coa-starcraft-x: 524px;
  $coa-starcraft-y: 300px;
  $coa-starcraft-offset-x: -524px;
  $coa-starcraft-offset-y: -300px;
  $coa-starcraft-width: 74px;
  $coa-starcraft-height: 100px;
  $coa-starcraft-total-width: 672px;
  $coa-starcraft-total-height: 592px;
  $coa-starcraft-image: 'img/schilde.png';
  $coa-starcraft: 524px 300px -524px -300px 74px 100px 672px 592px 'img/schilde.png';
  $coa-starwars-x: 524px;
  $coa-starwars-y: 400px;
  $coa-starwars-offset-x: -524px;
  $coa-starwars-offset-y: -400px;
  $coa-starwars-width: 74px;
  $coa-starwars-height: 100px;
  $coa-starwars-total-width: 672px;
  $coa-starwars-total-height: 592px;
  $coa-starwars-image: 'img/schilde.png';
  $coa-starwars: 524px 400px -524px -400px 74px 100px 672px 592px 'img/schilde.png';
  $coa-tes-x: 598px;
  $coa-tes-y: 0px;
  $coa-tes-offset-x: -598px;
  $coa-tes-offset-y: 0px;
  $coa-tes-width: 74px;
  $coa-tes-height: 100px;
  $coa-tes-total-width: 672px;
  $coa-tes-total-height: 592px;
  $coa-tes-image: 'img/schilde.png';
  $coa-tes: 598px 0px -598px 0px 74px 100px 672px 592px 'img/schilde.png';
  $coa-thief-x: 598px;
  $coa-thief-y: 100px;
  $coa-thief-offset-x: -598px;
  $coa-thief-offset-y: -100px;
  $coa-thief-width: 74px;
  $coa-thief-height: 100px;
  $coa-thief-total-width: 672px;
  $coa-thief-total-height: 592px;
  $coa-thief-image: 'img/schilde.png';
  $coa-thief: 598px 100px -598px -100px 74px 100px 672px 592px 'img/schilde.png';
  $coa-unbended-x: 80px;
  $coa-unbended-y: 500px;
  $coa-unbended-offset-x: -80px;
  $coa-unbended-offset-y: -500px;
  $coa-unbended-width: 80px;
  $coa-unbended-height: 72px;
  $coa-unbended-total-width: 672px;
  $coa-unbended-total-height: 592px;
  $coa-unbended-image: 'img/schilde.png';
  $coa-unbended: 80px 500px -80px -500px 80px 72px 672px 592px 'img/schilde.png';
  $coa-witcher-x: 148px;
  $coa-witcher-y: 300px;
  $coa-witcher-offset-x: -148px;
  $coa-witcher-offset-y: -300px;
  $coa-witcher-width: 74px;
  $coa-witcher-height: 100px;
  $coa-witcher-total-width: 672px;
  $coa-witcher-total-height: 592px;
  $coa-witcher-image: 'img/schilde.png';
  $coa-witcher: 148px 300px -148px -300px 74px 100px 672px 592px 'img/schilde.png';
  $coa-wop-x: 0px;
  $coa-wop-y: 500px;
  $coa-wop-offset-x: 0px;
  $coa-wop-offset-y: -500px;
  $coa-wop-width: 80px;
  $coa-wop-height: 92px;
  $coa-wop-total-width: 672px;
  $coa-wop-total-height: 592px;
  $coa-wop-image: 'img/schilde.png';
  $coa-wop: 0px 500px 0px -500px 80px 92px 672px 592px 'img/schilde.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

  .coat-of-arm-_assassinscreed {
    @include sprite($coa-_assassinscreed);
    $name: "_assassinscreed";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_cyberpunk {
    @include sprite($coa-_cyberpunk);
    $name: "_cyberpunk";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_demonicon {
    @include sprite($coa-_demonicon);
    $name: "_demonicon";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_diablo {
    @include sprite($coa-_diablo);
    $name: "_diablo";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_divinity {
    @include sprite($coa-_divinity);
    $name: "_divinity";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_dragonage {
    @include sprite($coa-_dragonage);
    $name: "_dragonage";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_drakensang {
    @include sprite($coa-_drakensang);
    $name: "_drakensang";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_dungeonlords {
    @include sprite($coa-_dungeonlords);
    $name: "_dungeonlords";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_gothic {
    @include sprite($coa-_gothic);
    $name: "_gothic";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_grotesque {
    @include sprite($coa-_grotesque);
    $name: "_grotesque";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_herrderringe {
    @include sprite($coa-_herrderringe);
    $name: "_herrderringe";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_kingdomhearts {
    @include sprite($coa-_kingdomhearts);
    $name: "_kingdomhearts";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_masseffect {
    @include sprite($coa-_masseffect);
    $name: "_masseffect";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_neverwinter {
    @include sprite($coa-_neverwinter);
    $name: "_neverwinter";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_risen {
    @include sprite($coa-_risen);
    $name: "_risen";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_sacred {
    @include sprite($coa-_sacred);
    $name: "_sacred";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_starcraft {
    @include sprite($coa-_starcraft);
    $name: "_starcraft";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_starwars {
    @include sprite($coa-_starwars);
    $name: "_starwars";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_tes {
    @include sprite($coa-_tes);
    $name: "_tes";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_thief {
    @include sprite($coa-_thief);
    $name: "_thief";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_unbended {
    @include sprite($coa-_unbended);
    $name: "_unbended";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_witcher {
    @include sprite($coa-_witcher);
    $name: "_witcher";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-assassinscreed {
    @include sprite($coa-assassinscreed);
    $name: "assassinscreed";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-cyberpunk {
    @include sprite($coa-cyberpunk);
    $name: "cyberpunk";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-demonicon {
    @include sprite($coa-demonicon);
    $name: "demonicon";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-diablo {
    @include sprite($coa-diablo);
    $name: "diablo";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-divinity {
    @include sprite($coa-divinity);
    $name: "divinity";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-dragonage {
    @include sprite($coa-dragonage);
    $name: "dragonage";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-drakensang {
    @include sprite($coa-drakensang);
    $name: "drakensang";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-dungeonlords {
    @include sprite($coa-dungeonlords);
    $name: "dungeonlords";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-gothic {
    @include sprite($coa-gothic);
    $name: "gothic";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-grotesque {
    @include sprite($coa-grotesque);
    $name: "grotesque";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-herrderringe {
    @include sprite($coa-herrderringe);
    $name: "herrderringe";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-kingdomhearts {
    @include sprite($coa-kingdomhearts);
    $name: "kingdomhearts";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-masseffect {
    @include sprite($coa-masseffect);
    $name: "masseffect";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-neverwinter {
    @include sprite($coa-neverwinter);
    $name: "neverwinter";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-risen {
    @include sprite($coa-risen);
    $name: "risen";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-sacred {
    @include sprite($coa-sacred);
    $name: "sacred";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-starcraft {
    @include sprite($coa-starcraft);
    $name: "starcraft";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-starwars {
    @include sprite($coa-starwars);
    $name: "starwars";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-tes {
    @include sprite($coa-tes);
    $name: "tes";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-thief {
    @include sprite($coa-thief);
    $name: "thief";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-unbended {
    @include sprite($coa-unbended);
    $name: "unbended";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-witcher {
    @include sprite($coa-witcher);
    $name: "witcher";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-wop {
    @include sprite($coa-wop);
    $name: "wop";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
