  $coa-_amalur-x: 0px;
  $coa-_amalur-y: 0px;
  $coa-_amalur-offset-x: 0px;
  $coa-_amalur-offset-y: 0px;
  $coa-_amalur-width: 78px;
  $coa-_amalur-height: 100px;
  $coa-_amalur-total-width: 603px;
  $coa-_amalur-total-height: 580px;
  $coa-_amalur-image: 'img/schilde.png';
  $coa-_amalur: 0px 0px 0px 0px 78px 100px 603px 580px 'img/schilde.png';
  $coa-_assassinscreed-x: 77px;
  $coa-_assassinscreed-y: 100px;
  $coa-_assassinscreed-offset-x: -77px;
  $coa-_assassinscreed-offset-y: -100px;
  $coa-_assassinscreed-width: 74px;
  $coa-_assassinscreed-height: 100px;
  $coa-_assassinscreed-total-width: 603px;
  $coa-_assassinscreed-total-height: 580px;
  $coa-_assassinscreed-image: 'img/schilde.png';
  $coa-_assassinscreed: 77px 100px -77px -100px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_cyberpunk-x: 151px;
  $coa-_cyberpunk-y: 100px;
  $coa-_cyberpunk-offset-x: -151px;
  $coa-_cyberpunk-offset-y: -100px;
  $coa-_cyberpunk-width: 74px;
  $coa-_cyberpunk-height: 100px;
  $coa-_cyberpunk-total-width: 603px;
  $coa-_cyberpunk-total-height: 580px;
  $coa-_cyberpunk-image: 'img/schilde.png';
  $coa-_cyberpunk: 151px 100px -151px -100px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_demonicon-x: 233px;
  $coa-_demonicon-y: 0px;
  $coa-_demonicon-offset-x: -233px;
  $coa-_demonicon-offset-y: 0px;
  $coa-_demonicon-width: 74px;
  $coa-_demonicon-height: 100px;
  $coa-_demonicon-total-width: 603px;
  $coa-_demonicon-total-height: 580px;
  $coa-_demonicon-image: 'img/schilde.png';
  $coa-_demonicon: 233px 0px -233px 0px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_diablo-x: 233px;
  $coa-_diablo-y: 100px;
  $coa-_diablo-offset-x: -233px;
  $coa-_diablo-offset-y: -100px;
  $coa-_diablo-width: 74px;
  $coa-_diablo-height: 100px;
  $coa-_diablo-total-width: 603px;
  $coa-_diablo-total-height: 580px;
  $coa-_diablo-image: 'img/schilde.png';
  $coa-_diablo: 233px 100px -233px -100px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_dragonage-x: 156px;
  $coa-_dragonage-y: 0px;
  $coa-_dragonage-offset-x: -156px;
  $coa-_dragonage-offset-y: 0px;
  $coa-_dragonage-width: 77px;
  $coa-_dragonage-height: 100px;
  $coa-_dragonage-total-width: 603px;
  $coa-_dragonage-total-height: 580px;
  $coa-_dragonage-image: 'img/schilde.png';
  $coa-_dragonage: 156px 0px -156px 0px 77px 100px 603px 580px 'img/schilde.png';
  $coa-_drakensang-x: 0px;
  $coa-_drakensang-y: 200px;
  $coa-_drakensang-offset-x: 0px;
  $coa-_drakensang-offset-y: -200px;
  $coa-_drakensang-width: 74px;
  $coa-_drakensang-height: 100px;
  $coa-_drakensang-total-width: 603px;
  $coa-_drakensang-total-height: 580px;
  $coa-_drakensang-image: 'img/schilde.png';
  $coa-_drakensang: 0px 200px 0px -200px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_dungeonlords-x: 74px;
  $coa-_dungeonlords-y: 200px;
  $coa-_dungeonlords-offset-x: -74px;
  $coa-_dungeonlords-offset-y: -200px;
  $coa-_dungeonlords-width: 74px;
  $coa-_dungeonlords-height: 100px;
  $coa-_dungeonlords-total-width: 603px;
  $coa-_dungeonlords-total-height: 580px;
  $coa-_dungeonlords-image: 'img/schilde.png';
  $coa-_dungeonlords: 74px 200px -74px -200px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_elex-x: 0px;
  $coa-_elex-y: 500px;
  $coa-_elex-offset-x: 0px;
  $coa-_elex-offset-y: -500px;
  $coa-_elex-width: 80px;
  $coa-_elex-height: 80px;
  $coa-_elex-total-width: 603px;
  $coa-_elex-total-height: 580px;
  $coa-_elex-image: 'img/schilde.png';
  $coa-_elex: 0px 500px 0px -500px 80px 80px 603px 580px 'img/schilde.png';
  $coa-_fallout-x: 80px;
  $coa-_fallout-y: 500px;
  $coa-_fallout-offset-x: -80px;
  $coa-_fallout-offset-y: -500px;
  $coa-_fallout-width: 80px;
  $coa-_fallout-height: 80px;
  $coa-_fallout-total-width: 603px;
  $coa-_fallout-total-height: 580px;
  $coa-_fallout-image: 'img/schilde.png';
  $coa-_fallout: 80px 500px -80px -500px 80px 80px 603px 580px 'img/schilde.png';
  $coa-_gothic-x: 148px;
  $coa-_gothic-y: 200px;
  $coa-_gothic-offset-x: -148px;
  $coa-_gothic-offset-y: -200px;
  $coa-_gothic-width: 74px;
  $coa-_gothic-height: 100px;
  $coa-_gothic-total-width: 603px;
  $coa-_gothic-total-height: 580px;
  $coa-_gothic-image: 'img/schilde.png';
  $coa-_gothic: 148px 200px -148px -200px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_grotesque-x: 222px;
  $coa-_grotesque-y: 200px;
  $coa-_grotesque-offset-x: -222px;
  $coa-_grotesque-offset-y: -200px;
  $coa-_grotesque-width: 74px;
  $coa-_grotesque-height: 100px;
  $coa-_grotesque-total-width: 603px;
  $coa-_grotesque-total-height: 580px;
  $coa-_grotesque-image: 'img/schilde.png';
  $coa-_grotesque: 222px 200px -222px -200px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_herrderringe-x: 307px;
  $coa-_herrderringe-y: 0px;
  $coa-_herrderringe-offset-x: -307px;
  $coa-_herrderringe-offset-y: 0px;
  $coa-_herrderringe-width: 74px;
  $coa-_herrderringe-height: 100px;
  $coa-_herrderringe-total-width: 603px;
  $coa-_herrderringe-total-height: 580px;
  $coa-_herrderringe-image: 'img/schilde.png';
  $coa-_herrderringe: 307px 0px -307px 0px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_masseffect-x: 307px;
  $coa-_masseffect-y: 100px;
  $coa-_masseffect-offset-x: -307px;
  $coa-_masseffect-offset-y: -100px;
  $coa-_masseffect-width: 74px;
  $coa-_masseffect-height: 100px;
  $coa-_masseffect-total-width: 603px;
  $coa-_masseffect-total-height: 580px;
  $coa-_masseffect-image: 'img/schilde.png';
  $coa-_masseffect: 307px 100px -307px -100px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_neverwinter-x: 307px;
  $coa-_neverwinter-y: 200px;
  $coa-_neverwinter-offset-x: -307px;
  $coa-_neverwinter-offset-y: -200px;
  $coa-_neverwinter-width: 74px;
  $coa-_neverwinter-height: 100px;
  $coa-_neverwinter-total-width: 603px;
  $coa-_neverwinter-total-height: 580px;
  $coa-_neverwinter-image: 'img/schilde.png';
  $coa-_neverwinter: 307px 200px -307px -200px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_risen-x: 381px;
  $coa-_risen-y: 0px;
  $coa-_risen-offset-x: -381px;
  $coa-_risen-offset-y: 0px;
  $coa-_risen-width: 74px;
  $coa-_risen-height: 100px;
  $coa-_risen-total-width: 603px;
  $coa-_risen-total-height: 580px;
  $coa-_risen-image: 'img/schilde.png';
  $coa-_risen: 381px 0px -381px 0px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_sacred-x: 381px;
  $coa-_sacred-y: 100px;
  $coa-_sacred-offset-x: -381px;
  $coa-_sacred-offset-y: -100px;
  $coa-_sacred-width: 74px;
  $coa-_sacred-height: 100px;
  $coa-_sacred-total-width: 603px;
  $coa-_sacred-total-height: 580px;
  $coa-_sacred-image: 'img/schilde.png';
  $coa-_sacred: 381px 100px -381px -100px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_starcraft-x: 381px;
  $coa-_starcraft-y: 200px;
  $coa-_starcraft-offset-x: -381px;
  $coa-_starcraft-offset-y: -200px;
  $coa-_starcraft-width: 74px;
  $coa-_starcraft-height: 100px;
  $coa-_starcraft-total-width: 603px;
  $coa-_starcraft-total-height: 580px;
  $coa-_starcraft-image: 'img/schilde.png';
  $coa-_starcraft: 381px 200px -381px -200px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_tes-x: 0px;
  $coa-_tes-y: 300px;
  $coa-_tes-offset-x: 0px;
  $coa-_tes-offset-y: -300px;
  $coa-_tes-width: 74px;
  $coa-_tes-height: 100px;
  $coa-_tes-total-width: 603px;
  $coa-_tes-total-height: 580px;
  $coa-_tes-image: 'img/schilde.png';
  $coa-_tes: 0px 300px 0px -300px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_thief-x: 74px;
  $coa-_thief-y: 300px;
  $coa-_thief-offset-x: -74px;
  $coa-_thief-offset-y: -300px;
  $coa-_thief-width: 74px;
  $coa-_thief-height: 100px;
  $coa-_thief-total-width: 603px;
  $coa-_thief-total-height: 580px;
  $coa-_thief-image: 'img/schilde.png';
  $coa-_thief: 74px 300px -74px -300px 74px 100px 603px 580px 'img/schilde.png';
  $coa-_witcher-x: 148px;
  $coa-_witcher-y: 300px;
  $coa-_witcher-offset-x: -148px;
  $coa-_witcher-offset-y: -300px;
  $coa-_witcher-width: 74px;
  $coa-_witcher-height: 100px;
  $coa-_witcher-total-width: 603px;
  $coa-_witcher-total-height: 580px;
  $coa-_witcher-image: 'img/schilde.png';
  $coa-_witcher: 148px 300px -148px -300px 74px 100px 603px 580px 'img/schilde.png';
  $coa-amalur-x: 78px;
  $coa-amalur-y: 0px;
  $coa-amalur-offset-x: -78px;
  $coa-amalur-offset-y: 0px;
  $coa-amalur-width: 78px;
  $coa-amalur-height: 100px;
  $coa-amalur-total-width: 603px;
  $coa-amalur-total-height: 580px;
  $coa-amalur-image: 'img/schilde.png';
  $coa-amalur: 78px 0px -78px 0px 78px 100px 603px 580px 'img/schilde.png';
  $coa-assassinscreed-x: 222px;
  $coa-assassinscreed-y: 300px;
  $coa-assassinscreed-offset-x: -222px;
  $coa-assassinscreed-offset-y: -300px;
  $coa-assassinscreed-width: 74px;
  $coa-assassinscreed-height: 100px;
  $coa-assassinscreed-total-width: 603px;
  $coa-assassinscreed-total-height: 580px;
  $coa-assassinscreed-image: 'img/schilde.png';
  $coa-assassinscreed: 222px 300px -222px -300px 74px 100px 603px 580px 'img/schilde.png';
  $coa-cyberpunk-x: 296px;
  $coa-cyberpunk-y: 300px;
  $coa-cyberpunk-offset-x: -296px;
  $coa-cyberpunk-offset-y: -300px;
  $coa-cyberpunk-width: 74px;
  $coa-cyberpunk-height: 100px;
  $coa-cyberpunk-total-width: 603px;
  $coa-cyberpunk-total-height: 580px;
  $coa-cyberpunk-image: 'img/schilde.png';
  $coa-cyberpunk: 296px 300px -296px -300px 74px 100px 603px 580px 'img/schilde.png';
  $coa-demonicon-x: 370px;
  $coa-demonicon-y: 300px;
  $coa-demonicon-offset-x: -370px;
  $coa-demonicon-offset-y: -300px;
  $coa-demonicon-width: 74px;
  $coa-demonicon-height: 100px;
  $coa-demonicon-total-width: 603px;
  $coa-demonicon-total-height: 580px;
  $coa-demonicon-image: 'img/schilde.png';
  $coa-demonicon: 370px 300px -370px -300px 74px 100px 603px 580px 'img/schilde.png';
  $coa-diablo-x: 455px;
  $coa-diablo-y: 0px;
  $coa-diablo-offset-x: -455px;
  $coa-diablo-offset-y: 0px;
  $coa-diablo-width: 74px;
  $coa-diablo-height: 100px;
  $coa-diablo-total-width: 603px;
  $coa-diablo-total-height: 580px;
  $coa-diablo-image: 'img/schilde.png';
  $coa-diablo: 455px 0px -455px 0px 74px 100px 603px 580px 'img/schilde.png';
  $coa-dragonage-x: 0px;
  $coa-dragonage-y: 100px;
  $coa-dragonage-offset-x: 0px;
  $coa-dragonage-offset-y: -100px;
  $coa-dragonage-width: 77px;
  $coa-dragonage-height: 100px;
  $coa-dragonage-total-width: 603px;
  $coa-dragonage-total-height: 580px;
  $coa-dragonage-image: 'img/schilde.png';
  $coa-dragonage: 0px 100px 0px -100px 77px 100px 603px 580px 'img/schilde.png';
  $coa-drakensang-x: 455px;
  $coa-drakensang-y: 100px;
  $coa-drakensang-offset-x: -455px;
  $coa-drakensang-offset-y: -100px;
  $coa-drakensang-width: 74px;
  $coa-drakensang-height: 100px;
  $coa-drakensang-total-width: 603px;
  $coa-drakensang-total-height: 580px;
  $coa-drakensang-image: 'img/schilde.png';
  $coa-drakensang: 455px 100px -455px -100px 74px 100px 603px 580px 'img/schilde.png';
  $coa-dungeonlords-x: 455px;
  $coa-dungeonlords-y: 200px;
  $coa-dungeonlords-offset-x: -455px;
  $coa-dungeonlords-offset-y: -200px;
  $coa-dungeonlords-width: 74px;
  $coa-dungeonlords-height: 100px;
  $coa-dungeonlords-total-width: 603px;
  $coa-dungeonlords-total-height: 580px;
  $coa-dungeonlords-image: 'img/schilde.png';
  $coa-dungeonlords: 455px 200px -455px -200px 74px 100px 603px 580px 'img/schilde.png';
  $coa-elex-x: 455px;
  $coa-elex-y: 300px;
  $coa-elex-offset-x: -455px;
  $coa-elex-offset-y: -300px;
  $coa-elex-width: 74px;
  $coa-elex-height: 100px;
  $coa-elex-total-width: 603px;
  $coa-elex-total-height: 580px;
  $coa-elex-image: 'img/schilde.png';
  $coa-elex: 455px 300px -455px -300px 74px 100px 603px 580px 'img/schilde.png';
  $coa-fallout-x: 160px;
  $coa-fallout-y: 500px;
  $coa-fallout-offset-x: -160px;
  $coa-fallout-offset-y: -500px;
  $coa-fallout-width: 80px;
  $coa-fallout-height: 80px;
  $coa-fallout-total-width: 603px;
  $coa-fallout-total-height: 580px;
  $coa-fallout-image: 'img/schilde.png';
  $coa-fallout: 160px 500px -160px -500px 80px 80px 603px 580px 'img/schilde.png';
  $coa-gothic-x: 0px;
  $coa-gothic-y: 400px;
  $coa-gothic-offset-x: 0px;
  $coa-gothic-offset-y: -400px;
  $coa-gothic-width: 74px;
  $coa-gothic-height: 100px;
  $coa-gothic-total-width: 603px;
  $coa-gothic-total-height: 580px;
  $coa-gothic-image: 'img/schilde.png';
  $coa-gothic: 0px 400px 0px -400px 74px 100px 603px 580px 'img/schilde.png';
  $coa-grotesque-x: 74px;
  $coa-grotesque-y: 400px;
  $coa-grotesque-offset-x: -74px;
  $coa-grotesque-offset-y: -400px;
  $coa-grotesque-width: 74px;
  $coa-grotesque-height: 100px;
  $coa-grotesque-total-width: 603px;
  $coa-grotesque-total-height: 580px;
  $coa-grotesque-image: 'img/schilde.png';
  $coa-grotesque: 74px 400px -74px -400px 74px 100px 603px 580px 'img/schilde.png';
  $coa-herrderringe-x: 148px;
  $coa-herrderringe-y: 400px;
  $coa-herrderringe-offset-x: -148px;
  $coa-herrderringe-offset-y: -400px;
  $coa-herrderringe-width: 74px;
  $coa-herrderringe-height: 100px;
  $coa-herrderringe-total-width: 603px;
  $coa-herrderringe-total-height: 580px;
  $coa-herrderringe-image: 'img/schilde.png';
  $coa-herrderringe: 148px 400px -148px -400px 74px 100px 603px 580px 'img/schilde.png';
  $coa-masseffect-x: 222px;
  $coa-masseffect-y: 400px;
  $coa-masseffect-offset-x: -222px;
  $coa-masseffect-offset-y: -400px;
  $coa-masseffect-width: 74px;
  $coa-masseffect-height: 100px;
  $coa-masseffect-total-width: 603px;
  $coa-masseffect-total-height: 580px;
  $coa-masseffect-image: 'img/schilde.png';
  $coa-masseffect: 222px 400px -222px -400px 74px 100px 603px 580px 'img/schilde.png';
  $coa-neverwinter-x: 296px;
  $coa-neverwinter-y: 400px;
  $coa-neverwinter-offset-x: -296px;
  $coa-neverwinter-offset-y: -400px;
  $coa-neverwinter-width: 74px;
  $coa-neverwinter-height: 100px;
  $coa-neverwinter-total-width: 603px;
  $coa-neverwinter-total-height: 580px;
  $coa-neverwinter-image: 'img/schilde.png';
  $coa-neverwinter: 296px 400px -296px -400px 74px 100px 603px 580px 'img/schilde.png';
  $coa-risen-x: 370px;
  $coa-risen-y: 400px;
  $coa-risen-offset-x: -370px;
  $coa-risen-offset-y: -400px;
  $coa-risen-width: 74px;
  $coa-risen-height: 100px;
  $coa-risen-total-width: 603px;
  $coa-risen-total-height: 580px;
  $coa-risen-image: 'img/schilde.png';
  $coa-risen: 370px 400px -370px -400px 74px 100px 603px 580px 'img/schilde.png';
  $coa-sacred-x: 444px;
  $coa-sacred-y: 400px;
  $coa-sacred-offset-x: -444px;
  $coa-sacred-offset-y: -400px;
  $coa-sacred-width: 74px;
  $coa-sacred-height: 100px;
  $coa-sacred-total-width: 603px;
  $coa-sacred-total-height: 580px;
  $coa-sacred-image: 'img/schilde.png';
  $coa-sacred: 444px 400px -444px -400px 74px 100px 603px 580px 'img/schilde.png';
  $coa-starcraft-x: 529px;
  $coa-starcraft-y: 0px;
  $coa-starcraft-offset-x: -529px;
  $coa-starcraft-offset-y: 0px;
  $coa-starcraft-width: 74px;
  $coa-starcraft-height: 100px;
  $coa-starcraft-total-width: 603px;
  $coa-starcraft-total-height: 580px;
  $coa-starcraft-image: 'img/schilde.png';
  $coa-starcraft: 529px 0px -529px 0px 74px 100px 603px 580px 'img/schilde.png';
  $coa-tes-x: 529px;
  $coa-tes-y: 100px;
  $coa-tes-offset-x: -529px;
  $coa-tes-offset-y: -100px;
  $coa-tes-width: 74px;
  $coa-tes-height: 100px;
  $coa-tes-total-width: 603px;
  $coa-tes-total-height: 580px;
  $coa-tes-image: 'img/schilde.png';
  $coa-tes: 529px 100px -529px -100px 74px 100px 603px 580px 'img/schilde.png';
  $coa-thief-x: 529px;
  $coa-thief-y: 200px;
  $coa-thief-offset-x: -529px;
  $coa-thief-offset-y: -200px;
  $coa-thief-width: 74px;
  $coa-thief-height: 100px;
  $coa-thief-total-width: 603px;
  $coa-thief-total-height: 580px;
  $coa-thief-image: 'img/schilde.png';
  $coa-thief: 529px 200px -529px -200px 74px 100px 603px 580px 'img/schilde.png';
  $coa-witcher-x: 529px;
  $coa-witcher-y: 300px;
  $coa-witcher-offset-x: -529px;
  $coa-witcher-offset-y: -300px;
  $coa-witcher-width: 74px;
  $coa-witcher-height: 100px;
  $coa-witcher-total-width: 603px;
  $coa-witcher-total-height: 580px;
  $coa-witcher-image: 'img/schilde.png';
  $coa-witcher: 529px 300px -529px -300px 74px 100px 603px 580px 'img/schilde.png';
  $coa-wop-x: 529px;
  $coa-wop-y: 400px;
  $coa-wop-offset-x: -529px;
  $coa-wop-offset-y: -400px;
  $coa-wop-width: 48px;
  $coa-wop-height: 55px;
  $coa-wop-total-width: 603px;
  $coa-wop-total-height: 580px;
  $coa-wop-image: 'img/schilde.png';
  $coa-wop: 529px 400px -529px -400px 48px 55px 603px 580px 'img/schilde.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    @include bgImage($sprite-image);
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

  .coat-of-arm-_amalur {
    @include sprite($coa-_amalur);
    $name: "_amalur";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_assassinscreed {
    @include sprite($coa-_assassinscreed);
    $name: "_assassinscreed";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_cyberpunk {
    @include sprite($coa-_cyberpunk);
    $name: "_cyberpunk";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_demonicon {
    @include sprite($coa-_demonicon);
    $name: "_demonicon";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_diablo {
    @include sprite($coa-_diablo);
    $name: "_diablo";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_dragonage {
    @include sprite($coa-_dragonage);
    $name: "_dragonage";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_drakensang {
    @include sprite($coa-_drakensang);
    $name: "_drakensang";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_dungeonlords {
    @include sprite($coa-_dungeonlords);
    $name: "_dungeonlords";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_elex {
    @include sprite($coa-_elex);
    $name: "_elex";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_fallout {
    @include sprite($coa-_fallout);
    $name: "_fallout";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_gothic {
    @include sprite($coa-_gothic);
    $name: "_gothic";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_grotesque {
    @include sprite($coa-_grotesque);
    $name: "_grotesque";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_herrderringe {
    @include sprite($coa-_herrderringe);
    $name: "_herrderringe";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_masseffect {
    @include sprite($coa-_masseffect);
    $name: "_masseffect";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_neverwinter {
    @include sprite($coa-_neverwinter);
    $name: "_neverwinter";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_risen {
    @include sprite($coa-_risen);
    $name: "_risen";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_sacred {
    @include sprite($coa-_sacred);
    $name: "_sacred";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_starcraft {
    @include sprite($coa-_starcraft);
    $name: "_starcraft";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_tes {
    @include sprite($coa-_tes);
    $name: "_tes";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_thief {
    @include sprite($coa-_thief);
    $name: "_thief";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-_witcher {
    @include sprite($coa-_witcher);
    $name: "_witcher";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-amalur {
    @include sprite($coa-amalur);
    $name: "amalur";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-assassinscreed {
    @include sprite($coa-assassinscreed);
    $name: "assassinscreed";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-cyberpunk {
    @include sprite($coa-cyberpunk);
    $name: "cyberpunk";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-demonicon {
    @include sprite($coa-demonicon);
    $name: "demonicon";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-diablo {
    @include sprite($coa-diablo);
    $name: "diablo";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-dragonage {
    @include sprite($coa-dragonage);
    $name: "dragonage";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-drakensang {
    @include sprite($coa-drakensang);
    $name: "drakensang";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-dungeonlords {
    @include sprite($coa-dungeonlords);
    $name: "dungeonlords";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-elex {
    @include sprite($coa-elex);
    $name: "elex";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-fallout {
    @include sprite($coa-fallout);
    $name: "fallout";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-gothic {
    @include sprite($coa-gothic);
    $name: "gothic";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-grotesque {
    @include sprite($coa-grotesque);
    $name: "grotesque";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-herrderringe {
    @include sprite($coa-herrderringe);
    $name: "herrderringe";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-masseffect {
    @include sprite($coa-masseffect);
    $name: "masseffect";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-neverwinter {
    @include sprite($coa-neverwinter);
    $name: "neverwinter";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-risen {
    @include sprite($coa-risen);
    $name: "risen";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-sacred {
    @include sprite($coa-sacred);
    $name: "sacred";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-starcraft {
    @include sprite($coa-starcraft);
    $name: "starcraft";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-tes {
    @include sprite($coa-tes);
    $name: "tes";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-thief {
    @include sprite($coa-thief);
    $name: "thief";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-witcher {
    @include sprite($coa-witcher);
    $name: "witcher";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
  .coat-of-arm-wop {
    @include sprite($coa-wop);
    $name: "wop";
    @if str-slice($name, 1, 1) != "_" {
      &:not(.no-hover):hover {
        @extend .coat-of-arm-_#{$name} !optional;
      }
    }
  }
