  $favicon-_none-x: 93px;
  $favicon-_none-y: 40px;
  $favicon-_none-offset-x: -93px;
  $favicon-_none-offset-y: -40px;
  $favicon-_none-width: 16px;
  $favicon-_none-height: 16px;
  $favicon-_none-total-width: 109px;
  $favicon-_none-total-height: 105px;
  $favicon-_none-image: 'img/favicons.png';
  $favicon-_none: 93px 40px -93px -40px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-assassinscreed-x: 73px;
  $favicon-assassinscreed-y: 20px;
  $favicon-assassinscreed-offset-x: -73px;
  $favicon-assassinscreed-offset-y: -20px;
  $favicon-assassinscreed-width: 16px;
  $favicon-assassinscreed-height: 16px;
  $favicon-assassinscreed-total-width: 109px;
  $favicon-assassinscreed-total-height: 105px;
  $favicon-assassinscreed-image: 'img/favicons.png';
  $favicon-assassinscreed: 73px 20px -73px -20px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-cyberpunk-x: 93px;
  $favicon-cyberpunk-y: 60px;
  $favicon-cyberpunk-offset-x: -93px;
  $favicon-cyberpunk-offset-y: -60px;
  $favicon-cyberpunk-width: 16px;
  $favicon-cyberpunk-height: 16px;
  $favicon-cyberpunk-total-width: 109px;
  $favicon-cyberpunk-total-height: 105px;
  $favicon-cyberpunk-image: 'img/favicons.png';
  $favicon-cyberpunk: 93px 60px -93px -60px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-demonicon-x: 20px;
  $favicon-demonicon-y: 49px;
  $favicon-demonicon-offset-x: -20px;
  $favicon-demonicon-offset-y: -49px;
  $favicon-demonicon-width: 16px;
  $favicon-demonicon-height: 16px;
  $favicon-demonicon-total-width: 109px;
  $favicon-demonicon-total-height: 105px;
  $favicon-demonicon-image: 'img/favicons.png';
  $favicon-demonicon: 20px 49px -20px -49px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-diablo-x: 93px;
  $favicon-diablo-y: 0px;
  $favicon-diablo-offset-x: -93px;
  $favicon-diablo-offset-y: 0px;
  $favicon-diablo-width: 16px;
  $favicon-diablo-height: 16px;
  $favicon-diablo-total-width: 109px;
  $favicon-diablo-total-height: 105px;
  $favicon-diablo-image: 'img/favicons.png';
  $favicon-diablo: 93px 0px -93px 0px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-divinity-x: 27px;
  $favicon-divinity-y: 0px;
  $favicon-divinity-offset-x: -27px;
  $favicon-divinity-offset-y: 0px;
  $favicon-divinity-width: 20px;
  $favicon-divinity-height: 20px;
  $favicon-divinity-total-width: 109px;
  $favicon-divinity-total-height: 105px;
  $favicon-divinity-image: 'img/favicons.png';
  $favicon-divinity: 27px 0px -27px 0px 20px 20px 109px 105px 'img/favicons.png';
  $favicon-dragonage-x: 0px;
  $favicon-dragonage-y: 0px;
  $favicon-dragonage-offset-x: 0px;
  $favicon-dragonage-offset-y: 0px;
  $favicon-dragonage-width: 23px;
  $favicon-dragonage-height: 21px;
  $favicon-dragonage-total-width: 109px;
  $favicon-dragonage-total-height: 105px;
  $favicon-dragonage-image: 'img/favicons.png';
  $favicon-dragonage: 0px 0px 0px 0px 23px 21px 109px 105px 'img/favicons.png';
  $favicon-drakensang-x: 51px;
  $favicon-drakensang-y: 0px;
  $favicon-drakensang-offset-x: -51px;
  $favicon-drakensang-offset-y: 0px;
  $favicon-drakensang-width: 18px;
  $favicon-drakensang-height: 19px;
  $favicon-drakensang-total-width: 109px;
  $favicon-drakensang-total-height: 105px;
  $favicon-drakensang-image: 'img/favicons.png';
  $favicon-drakensang: 51px 0px -51px 0px 18px 19px 109px 105px 'img/favicons.png';
  $favicon-dungeonlords-x: 40px;
  $favicon-dungeonlords-y: 49px;
  $favicon-dungeonlords-offset-x: -40px;
  $favicon-dungeonlords-offset-y: -49px;
  $favicon-dungeonlords-width: 16px;
  $favicon-dungeonlords-height: 16px;
  $favicon-dungeonlords-total-width: 109px;
  $favicon-dungeonlords-total-height: 105px;
  $favicon-dungeonlords-image: 'img/favicons.png';
  $favicon-dungeonlords: 40px 49px -40px -49px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-gothic-x: 73px;
  $favicon-gothic-y: 0px;
  $favicon-gothic-offset-x: -73px;
  $favicon-gothic-offset-y: 0px;
  $favicon-gothic-width: 16px;
  $favicon-gothic-height: 16px;
  $favicon-gothic-total-width: 109px;
  $favicon-gothic-total-height: 105px;
  $favicon-gothic-image: 'img/favicons.png';
  $favicon-gothic: 73px 0px -73px 0px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-grotesque-x: 0px;
  $favicon-grotesque-y: 49px;
  $favicon-grotesque-offset-x: 0px;
  $favicon-grotesque-offset-y: -49px;
  $favicon-grotesque-width: 16px;
  $favicon-grotesque-height: 16px;
  $favicon-grotesque-total-width: 109px;
  $favicon-grotesque-total-height: 105px;
  $favicon-grotesque-image: 'img/favicons.png';
  $favicon-grotesque: 0px 49px 0px -49px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-herrderringe-x: 73px;
  $favicon-herrderringe-y: 40px;
  $favicon-herrderringe-offset-x: -73px;
  $favicon-herrderringe-offset-y: -40px;
  $favicon-herrderringe-width: 16px;
  $favicon-herrderringe-height: 16px;
  $favicon-herrderringe-total-width: 109px;
  $favicon-herrderringe-total-height: 105px;
  $favicon-herrderringe-image: 'img/favicons.png';
  $favicon-herrderringe: 73px 40px -73px -40px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-kingdomhearts-x: 0px;
  $favicon-kingdomhearts-y: 69px;
  $favicon-kingdomhearts-offset-x: 0px;
  $favicon-kingdomhearts-offset-y: -69px;
  $favicon-kingdomhearts-width: 16px;
  $favicon-kingdomhearts-height: 16px;
  $favicon-kingdomhearts-total-width: 109px;
  $favicon-kingdomhearts-total-height: 105px;
  $favicon-kingdomhearts-image: 'img/favicons.png';
  $favicon-kingdomhearts: 0px 69px 0px -69px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-masseffect-x: 20px;
  $favicon-masseffect-y: 69px;
  $favicon-masseffect-offset-x: -20px;
  $favicon-masseffect-offset-y: -69px;
  $favicon-masseffect-width: 22px;
  $favicon-masseffect-height: 16px;
  $favicon-masseffect-total-width: 109px;
  $favicon-masseffect-total-height: 105px;
  $favicon-masseffect-image: 'img/favicons.png';
  $favicon-masseffect: 20px 69px -20px -69px 22px 16px 109px 105px 'img/favicons.png';
  $favicon-neverwinter-x: 46px;
  $favicon-neverwinter-y: 69px;
  $favicon-neverwinter-offset-x: -46px;
  $favicon-neverwinter-offset-y: -69px;
  $favicon-neverwinter-width: 16px;
  $favicon-neverwinter-height: 16px;
  $favicon-neverwinter-total-width: 109px;
  $favicon-neverwinter-total-height: 105px;
  $favicon-neverwinter-image: 'img/favicons.png';
  $favicon-neverwinter: 46px 69px -46px -69px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-risen-x: 66px;
  $favicon-risen-y: 69px;
  $favicon-risen-offset-x: -66px;
  $favicon-risen-offset-y: -69px;
  $favicon-risen-width: 16px;
  $favicon-risen-height: 16px;
  $favicon-risen-total-width: 109px;
  $favicon-risen-total-height: 105px;
  $favicon-risen-image: 'img/favicons.png';
  $favicon-risen: 66px 69px -66px -69px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-sacred-x: 0px;
  $favicon-sacred-y: 25px;
  $favicon-sacred-offset-x: 0px;
  $favicon-sacred-offset-y: -25px;
  $favicon-sacred-width: 20px;
  $favicon-sacred-height: 20px;
  $favicon-sacred-total-width: 109px;
  $favicon-sacred-total-height: 105px;
  $favicon-sacred-image: 'img/favicons.png';
  $favicon-sacred: 0px 25px 0px -25px 20px 20px 109px 105px 'img/favicons.png';
  $favicon-starcraft-x: 93px;
  $favicon-starcraft-y: 20px;
  $favicon-starcraft-offset-x: -93px;
  $favicon-starcraft-offset-y: -20px;
  $favicon-starcraft-width: 16px;
  $favicon-starcraft-height: 16px;
  $favicon-starcraft-total-width: 109px;
  $favicon-starcraft-total-height: 105px;
  $favicon-starcraft-image: 'img/favicons.png';
  $favicon-starcraft: 93px 20px -93px -20px 16px 16px 109px 105px 'img/favicons.png';
  $favicon-starwars-x: 51px;
  $favicon-starwars-y: 23px;
  $favicon-starwars-offset-x: -51px;
  $favicon-starwars-offset-y: -23px;
  $favicon-starwars-width: 18px;
  $favicon-starwars-height: 18px;
  $favicon-starwars-total-width: 109px;
  $favicon-starwars-total-height: 105px;
  $favicon-starwars-image: 'img/favicons.png';
  $favicon-starwars: 51px 23px -51px -23px 18px 18px 109px 105px 'img/favicons.png';
  $favicon-tes-x: 24px;
  $favicon-tes-y: 25px;
  $favicon-tes-offset-x: -24px;
  $favicon-tes-offset-y: -25px;
  $favicon-tes-width: 20px;
  $favicon-tes-height: 20px;
  $favicon-tes-total-width: 109px;
  $favicon-tes-total-height: 105px;
  $favicon-tes-image: 'img/favicons.png';
  $favicon-tes: 24px 25px -24px -25px 20px 20px 109px 105px 'img/favicons.png';
  $favicon-thief-x: 0px;
  $favicon-thief-y: 89px;
  $favicon-thief-offset-x: 0px;
  $favicon-thief-offset-y: -89px;
  $favicon-thief-width: 16px;
  $favicon-thief-height: 16px;
  $favicon-thief-total-width: 109px;
  $favicon-thief-total-height: 105px;
  $favicon-thief-image: 'img/favicons.png';
  $favicon-thief: 0px 89px 0px -89px 16px 16px 109px 105px 'img/favicons.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

  .favicon-_none {
    @include sprite($favicon-_none);
  }
  .favicon-assassinscreed {
    @include sprite($favicon-assassinscreed);
  }
  .favicon-cyberpunk {
    @include sprite($favicon-cyberpunk);
  }
  .favicon-demonicon {
    @include sprite($favicon-demonicon);
  }
  .favicon-diablo {
    @include sprite($favicon-diablo);
  }
  .favicon-divinity {
    @include sprite($favicon-divinity);
  }
  .favicon-dragonage {
    @include sprite($favicon-dragonage);
  }
  .favicon-drakensang {
    @include sprite($favicon-drakensang);
  }
  .favicon-dungeonlords {
    @include sprite($favicon-dungeonlords);
  }
  .favicon-gothic {
    @include sprite($favicon-gothic);
  }
  .favicon-grotesque {
    @include sprite($favicon-grotesque);
  }
  .favicon-herrderringe {
    @include sprite($favicon-herrderringe);
  }
  .favicon-kingdomhearts {
    @include sprite($favicon-kingdomhearts);
  }
  .favicon-masseffect {
    @include sprite($favicon-masseffect);
  }
  .favicon-neverwinter {
    @include sprite($favicon-neverwinter);
  }
  .favicon-risen {
    @include sprite($favicon-risen);
  }
  .favicon-sacred {
    @include sprite($favicon-sacred);
  }
  .favicon-starcraft {
    @include sprite($favicon-starcraft);
  }
  .favicon-starwars {
    @include sprite($favicon-starwars);
  }
  .favicon-tes {
    @include sprite($favicon-tes);
  }
  .favicon-thief {
    @include sprite($favicon-thief);
  }
