  $coa-assassinscreed-x: 105px;
  $coa-assassinscreed-y: 0px;
  $coa-assassinscreed-offset-x: -105px;
  $coa-assassinscreed-offset-y: 0px;
  $coa-assassinscreed-width: 100px;
  $coa-assassinscreed-height: 135px;
  $coa-assassinscreed-total-width: 625px;
  $coa-assassinscreed-total-height: 550px;
  $coa-assassinscreed-image: 'schilde.png';
  $coa-assassinscreed: 105px 0px -105px 0px 100px 135px 625px 550px 'schilde.png';
  $coa-cyberpunk-x: 210px;
  $coa-cyberpunk-y: 280px;
  $coa-cyberpunk-offset-x: -210px;
  $coa-cyberpunk-offset-y: -280px;
  $coa-cyberpunk-width: 100px;
  $coa-cyberpunk-height: 135px;
  $coa-cyberpunk-total-width: 625px;
  $coa-cyberpunk-total-height: 550px;
  $coa-cyberpunk-image: 'schilde.png';
  $coa-cyberpunk: 210px 280px -210px -280px 100px 135px 625px 550px 'schilde.png';
  $coa-demonicon-x: 210px;
  $coa-demonicon-y: 0px;
  $coa-demonicon-offset-x: -210px;
  $coa-demonicon-offset-y: 0px;
  $coa-demonicon-width: 100px;
  $coa-demonicon-height: 135px;
  $coa-demonicon-total-width: 625px;
  $coa-demonicon-total-height: 550px;
  $coa-demonicon-image: 'schilde.png';
  $coa-demonicon: 210px 0px -210px 0px 100px 135px 625px 550px 'schilde.png';
  $coa-diablo-x: 0px;
  $coa-diablo-y: 140px;
  $coa-diablo-offset-x: 0px;
  $coa-diablo-offset-y: -140px;
  $coa-diablo-width: 100px;
  $coa-diablo-height: 135px;
  $coa-diablo-total-width: 625px;
  $coa-diablo-total-height: 550px;
  $coa-diablo-image: 'schilde.png';
  $coa-diablo: 0px 140px 0px -140px 100px 135px 625px 550px 'schilde.png';
  $coa-dragonage-x: 0px;
  $coa-dragonage-y: 420px;
  $coa-dragonage-offset-x: 0px;
  $coa-dragonage-offset-y: -420px;
  $coa-dragonage-width: 100px;
  $coa-dragonage-height: 130px;
  $coa-dragonage-total-width: 625px;
  $coa-dragonage-total-height: 550px;
  $coa-dragonage-image: 'schilde.png';
  $coa-dragonage: 0px 420px 0px -420px 100px 130px 625px 550px 'schilde.png';
  $coa-drakensang-x: 210px;
  $coa-drakensang-y: 140px;
  $coa-drakensang-offset-x: -210px;
  $coa-drakensang-offset-y: -140px;
  $coa-drakensang-width: 100px;
  $coa-drakensang-height: 135px;
  $coa-drakensang-total-width: 625px;
  $coa-drakensang-total-height: 550px;
  $coa-drakensang-image: 'schilde.png';
  $coa-drakensang: 210px 140px -210px -140px 100px 135px 625px 550px 'schilde.png';
  $coa-dungeonlords-x: 315px;
  $coa-dungeonlords-y: 0px;
  $coa-dungeonlords-offset-x: -315px;
  $coa-dungeonlords-offset-y: 0px;
  $coa-dungeonlords-width: 100px;
  $coa-dungeonlords-height: 135px;
  $coa-dungeonlords-total-width: 625px;
  $coa-dungeonlords-total-height: 550px;
  $coa-dungeonlords-image: 'schilde.png';
  $coa-dungeonlords: 315px 0px -315px 0px 100px 135px 625px 550px 'schilde.png';
  $coa-elex-x: 315px;
  $coa-elex-y: 140px;
  $coa-elex-offset-x: -315px;
  $coa-elex-offset-y: -140px;
  $coa-elex-width: 100px;
  $coa-elex-height: 135px;
  $coa-elex-total-width: 625px;
  $coa-elex-total-height: 550px;
  $coa-elex-image: 'schilde.png';
  $coa-elex: 315px 140px -315px -140px 100px 135px 625px 550px 'schilde.png';
  $coa-fallout-x: 105px;
  $coa-fallout-y: 420px;
  $coa-fallout-offset-x: -105px;
  $coa-fallout-offset-y: -420px;
  $coa-fallout-width: 100px;
  $coa-fallout-height: 100px;
  $coa-fallout-total-width: 625px;
  $coa-fallout-total-height: 550px;
  $coa-fallout-image: 'schilde.png';
  $coa-fallout: 105px 420px -105px -420px 100px 100px 625px 550px 'schilde.png';
  $coa-gothic-x: 105px;
  $coa-gothic-y: 280px;
  $coa-gothic-offset-x: -105px;
  $coa-gothic-offset-y: -280px;
  $coa-gothic-width: 100px;
  $coa-gothic-height: 135px;
  $coa-gothic-total-width: 625px;
  $coa-gothic-total-height: 550px;
  $coa-gothic-image: 'schilde.png';
  $coa-gothic: 105px 280px -105px -280px 100px 135px 625px 550px 'schilde.png';
  $coa-grotesque-x: 0px;
  $coa-grotesque-y: 0px;
  $coa-grotesque-offset-x: 0px;
  $coa-grotesque-offset-y: 0px;
  $coa-grotesque-width: 100px;
  $coa-grotesque-height: 135px;
  $coa-grotesque-total-width: 625px;
  $coa-grotesque-total-height: 550px;
  $coa-grotesque-image: 'schilde.png';
  $coa-grotesque: 0px 0px 0px 0px 100px 135px 625px 550px 'schilde.png';
  $coa-herrderringe-x: 315px;
  $coa-herrderringe-y: 280px;
  $coa-herrderringe-offset-x: -315px;
  $coa-herrderringe-offset-y: -280px;
  $coa-herrderringe-width: 100px;
  $coa-herrderringe-height: 135px;
  $coa-herrderringe-total-width: 625px;
  $coa-herrderringe-total-height: 550px;
  $coa-herrderringe-image: 'schilde.png';
  $coa-herrderringe: 315px 280px -315px -280px 100px 135px 625px 550px 'schilde.png';
  $coa-masseffect-x: 420px;
  $coa-masseffect-y: 0px;
  $coa-masseffect-offset-x: -420px;
  $coa-masseffect-offset-y: 0px;
  $coa-masseffect-width: 100px;
  $coa-masseffect-height: 135px;
  $coa-masseffect-total-width: 625px;
  $coa-masseffect-total-height: 550px;
  $coa-masseffect-image: 'schilde.png';
  $coa-masseffect: 420px 0px -420px 0px 100px 135px 625px 550px 'schilde.png';
  $coa-neverwinter-x: 420px;
  $coa-neverwinter-y: 140px;
  $coa-neverwinter-offset-x: -420px;
  $coa-neverwinter-offset-y: -140px;
  $coa-neverwinter-width: 100px;
  $coa-neverwinter-height: 135px;
  $coa-neverwinter-total-width: 625px;
  $coa-neverwinter-total-height: 550px;
  $coa-neverwinter-image: 'schilde.png';
  $coa-neverwinter: 420px 140px -420px -140px 100px 135px 625px 550px 'schilde.png';
  $coa-risen-x: 420px;
  $coa-risen-y: 280px;
  $coa-risen-offset-x: -420px;
  $coa-risen-offset-y: -280px;
  $coa-risen-width: 100px;
  $coa-risen-height: 135px;
  $coa-risen-total-width: 625px;
  $coa-risen-total-height: 550px;
  $coa-risen-image: 'schilde.png';
  $coa-risen: 420px 280px -420px -280px 100px 135px 625px 550px 'schilde.png';
  $coa-sacred-x: 525px;
  $coa-sacred-y: 0px;
  $coa-sacred-offset-x: -525px;
  $coa-sacred-offset-y: 0px;
  $coa-sacred-width: 100px;
  $coa-sacred-height: 135px;
  $coa-sacred-total-width: 625px;
  $coa-sacred-total-height: 550px;
  $coa-sacred-image: 'schilde.png';
  $coa-sacred: 525px 0px -525px 0px 100px 135px 625px 550px 'schilde.png';
  $coa-starcraft-x: 525px;
  $coa-starcraft-y: 140px;
  $coa-starcraft-offset-x: -525px;
  $coa-starcraft-offset-y: -140px;
  $coa-starcraft-width: 100px;
  $coa-starcraft-height: 135px;
  $coa-starcraft-total-width: 625px;
  $coa-starcraft-total-height: 550px;
  $coa-starcraft-image: 'schilde.png';
  $coa-starcraft: 525px 140px -525px -140px 100px 135px 625px 550px 'schilde.png';
  $coa-tes-x: 525px;
  $coa-tes-y: 280px;
  $coa-tes-offset-x: -525px;
  $coa-tes-offset-y: -280px;
  $coa-tes-width: 100px;
  $coa-tes-height: 135px;
  $coa-tes-total-width: 625px;
  $coa-tes-total-height: 550px;
  $coa-tes-image: 'schilde.png';
  $coa-tes: 525px 280px -525px -280px 100px 135px 625px 550px 'schilde.png';
  $coa-thief-x: 0px;
  $coa-thief-y: 280px;
  $coa-thief-offset-x: 0px;
  $coa-thief-offset-y: -280px;
  $coa-thief-width: 100px;
  $coa-thief-height: 135px;
  $coa-thief-total-width: 625px;
  $coa-thief-total-height: 550px;
  $coa-thief-image: 'schilde.png';
  $coa-thief: 0px 280px 0px -280px 100px 135px 625px 550px 'schilde.png';
  $coa-witcher-x: 105px;
  $coa-witcher-y: 140px;
  $coa-witcher-offset-x: -105px;
  $coa-witcher-offset-y: -140px;
  $coa-witcher-width: 100px;
  $coa-witcher-height: 135px;
  $coa-witcher-total-width: 625px;
  $coa-witcher-total-height: 550px;
  $coa-witcher-image: 'schilde.png';
  $coa-witcher: 105px 140px -105px -140px 100px 135px 625px 550px 'schilde.png';
  $coa-wop-x: 210px;
  $coa-wop-y: 420px;
  $coa-wop-offset-x: -210px;
  $coa-wop-offset-y: -420px;
  $coa-wop-width: 48px;
  $coa-wop-height: 55px;
  $coa-wop-total-width: 625px;
  $coa-wop-total-height: 550px;
  $coa-wop-image: 'schilde.png';
  $coa-wop: 210px 420px -210px -420px 48px 55px 625px 550px 'schilde.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }

  .coat-of-arm-assassinscreed {
    @include sprite($coa-assassinscreed);
    $name: "assassinscreed";
  }
  .coat-of-arm-cyberpunk {
    @include sprite($coa-cyberpunk);
    $name: "cyberpunk";
  }
  .coat-of-arm-demonicon {
    @include sprite($coa-demonicon);
    $name: "demonicon";
  }
  .coat-of-arm-diablo {
    @include sprite($coa-diablo);
    $name: "diablo";
  }
  .coat-of-arm-dragonage {
    @include sprite($coa-dragonage);
    $name: "dragonage";
  }
  .coat-of-arm-drakensang {
    @include sprite($coa-drakensang);
    $name: "drakensang";
  }
  .coat-of-arm-dungeonlords {
    @include sprite($coa-dungeonlords);
    $name: "dungeonlords";
  }
  .coat-of-arm-elex {
    @include sprite($coa-elex);
    $name: "elex";
  }
  .coat-of-arm-fallout {
    @include sprite($coa-fallout);
    $name: "fallout";
  }
  .coat-of-arm-gothic {
    @include sprite($coa-gothic);
    $name: "gothic";
  }
  .coat-of-arm-grotesque {
    @include sprite($coa-grotesque);
    $name: "grotesque";
  }
  .coat-of-arm-herrderringe {
    @include sprite($coa-herrderringe);
    $name: "herrderringe";
  }
  .coat-of-arm-masseffect {
    @include sprite($coa-masseffect);
    $name: "masseffect";
  }
  .coat-of-arm-neverwinter {
    @include sprite($coa-neverwinter);
    $name: "neverwinter";
  }
  .coat-of-arm-risen {
    @include sprite($coa-risen);
    $name: "risen";
  }
  .coat-of-arm-sacred {
    @include sprite($coa-sacred);
    $name: "sacred";
  }
  .coat-of-arm-starcraft {
    @include sprite($coa-starcraft);
    $name: "starcraft";
  }
  .coat-of-arm-tes {
    @include sprite($coa-tes);
    $name: "tes";
  }
  .coat-of-arm-thief {
    @include sprite($coa-thief);
    $name: "thief";
  }
  .coat-of-arm-witcher {
    @include sprite($coa-witcher);
    $name: "witcher";
  }
  .coat-of-arm-wop {
    @include sprite($coa-wop);
    $name: "wop";
  }
