@mixin calc($prop, $val) {
  @each $pre in -webkit-, -moz- {
    #{$prop}: $pre + calc(#{$val});
  }
  #{$prop}: calc(#{$val});
}

@mixin text-truncate {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}, .h#{$i} {
        @content
      }
    }
}
