@mixin calc($prop, $val) {
  @each $pre in -webkit-, -moz- {
    #{$prop}: $pre + calc(#{$val});
  }
  #{$prop}: calc(#{$val});
}

@mixin text-truncate {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin truncate-space($space) {
  .truncate.truncate-#{$space} {
    padding-right: #{$space}px !important;
    & > .pull-right {
      margin-right: -#{$space}px;
    }
  }
}

@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i},
    .h#{$i} {
      @content;
    }
  }
}

@mixin bgImage($image, $extLength: 5) {
  background-image: url(#{$image});
  $image-modern: str-slice($image, 1, -1 * $extLength);
  background-image: -webkit-image-set(url($image-modern + ".webp") 1x);
}
