.border-panel {
    border-style: solid;
    border-width: 8px;
    -moz-border-image: url(img/border.png) 8 repeat;
    -webkit-border-image: url(img/border.png) 8 repeat;
    -o-border-image: url(img/border.png) 8 repeat;
    border-image: url(img/border.png) 8 repeat;

    background-color: #053C03;
}


@include headings(){
    & + .sub-line {
        margin-top:-10px;
    }
}

.list-group.list-group-condensed {
    .list-group-item {
        padding: 5px 10px;
    }
}

a.list-group-item {
  // Hover state
  &:hover,
  &:focus {
    color: $list-group-hover-link-color;
    border-color: $list-group-hover-border;
    & > .badge {
      color: $badge-active-color;
      background-color: $badge-active-bg;
    }
  }
}


.input-group-addon {
    border-radius: 0;
}

select {
    option:not(:disabled) {
        cursor:pointer;
    }
}
