//== Text
$text-color:            #cccccc;

//== Colors
$brand-primary:         #FF9900;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

//== Base
$bg-image:'img/header.png';
$bg-image-sm:'img/header_sm.png';
$bg-color:#074B00;
$bg-gradiant-color:#003900;

//== Typography
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//== Container sizes
// Small screen / tablet
$container-tablet:             754px;

@import "bootstrap/variables";

//== Typography
$headings-font-weight: 700;
$font-path: "../fonts/";
$icon-font-path: "../fonts/bootstrap/";
$fa-font-path: $font-path;


//== Navbars
$navbar-default-color: #CCC;
$navbar-default-link-color: #CCC;
$navbar-default-link-hover-color: #FFF;
$navbar-default-link-hover-bg: darken(#053C03, 1);
$navbar-default-link-active-color: #FFF;
$navbar-default-link-active-bg: darken(#053C03, 2);
$navbar-default-link-disabled-color: #666;
$navbar-default-link-disabled-bg: rgba(0,0,0,0);


//== Navigation
$navi-bg-color:#383E34;
$navi-border-inner-color:#848A7E;
$navi-border-outer-color:#4C5445;


//== Dropdowns
$dropdown-link-color: #CCC;
$dropdown-bg:#383E34;
$dropdown-fallback-border: #000; // IE8 fallback
$dropdown-border: #000;
$dropdown-top-border: rgba(0, 0, 0, 0.1);

$dropdown-link-hover-color: #FFF;
$dropdown-link-hover-bg: lighten(#383E34, 5);
$dropdown-link-active-color: #FFF;
$dropdown-link-active-bg: lighten(#383E34, 5);
$dropdown-link-disabled-color: #666;

//== network-carousel
$network-carousel-width: 80px;
$network-carousel-height: 100px;
$network-carousel-num-sm3: 3;
$network-carousel-num-sm4: 4;
$network-carousel-num-sm5: 5;
$network-carousel-num-md: 7;

//== List group
$list-group-bg:                 transparent;
$list-group-border:             #999;
$list-group-border-radius:      0;
$list-group-hover-bg:           $component-active-bg;
$list-group-hover-link-color:   #333;
$list-group-hover-border:       $list-group-hover-bg;
$list-group-active-color:       #333;
$list-group-active-bg:          $component-active-bg;
$list-group-active-border:      $list-group-active-bg;
$list-group-active-text-color:  #333;
$list-group-link-color:         $link-color;
$list-group-link-heading-color: #333 !default;


//== Badges
$badge-color:                 #333;
$badge-link-hover-color:      #fff;
$badge-bg:                    #999;
$badge-active-color:          $link-color;
$badge-active-bg:             #383E34;
$badge-font-weight:           bold;
$badge-line-height:           1;
$badge-border-radius:         0;


//== Buttons
$btn-default-color:              #333;
$btn-default-bg:                 #999;
$btn-default-border:             $btn-default-bg;
$btn-primary-color:              #333;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;


//== Forms
$input-bg:                       #fff;
$input-bg-disabled:              $gray-lighter;
$input-color:                    #333;
$input-border:                   #999;
$input-border-radius:            0;
$input-border-focus:             #053C03;
$input-color-placeholder:        $gray-light;

$input-group-addon-bg:           #CCC;
$input-group-addon-border-color: $input-border;


//== Tables
$table-cell-padding:            8px;
$table-condensed-cell-padding:  5px;
$table-bg:                      transparent;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #999;
